section {
    margin: 20px;
}


.ab{
color: #000;
 margin: auto 0;
text-align: center; 
}
.top-left {
    position: fixed;
    top: 120px;
    left: 20px;
    width: 150px;
}

      .list-group-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: 0;
      }
   