h4 {
    text-align: center;
    margin-top:-3%;
}

.home{
    background-repeat:no-repeat;
    position: relative;
   height:600px;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
   background-repeat:no-repeat;  
    /* background-size: auto 100%;
    -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;
     /* <img class="img-responsive" src="assets/store_banner.png"> */
    background-size: 100% 100%;

    overflow-y: hidden;
    overflow-x: hidden; 
    background-image:url("/assets/store_banner.png"); 
    
}
/* .image1{
    background-repeat:no-repeat;
    position: relative;
   height:600px;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   -o-background-size:cover;
   background-size:cover;


} */
ul {
    display: block;
    list-style-type:none;
    margin-top: 4%;
    width: 300px;
    text-align: left;
    font-size: 25px;
    color: #fff;
}
.row{
    margin-top: 3%;
    color: #fff;
    font-style: oblique;
}